{% include head.html %}


  <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

      <div class="hero">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8 col">

            <div class="about section">
              <div class="name-text">Amando Ibañez</div>
              <div>April 24, 1989 - August 15, 2023 </div>
              <div>Father &nbsp; • &nbsp; Husband &nbsp; • &nbsp; Brother &nbsp; • &nbsp; Friend</div>
              <br>
              <div>
                <div class="drop-cap"><img src="assets/drop-cap.png" class=""></div>born
                Amando Pilapil Ibañez to Leticia Pilapil and Amando Ibañez, passed on 
                August 15, 2023 of complications due to liver cancer. He is survived by 
                his wife Krizzia Ibañez; his daughter, Celine Ibañez; 
                his sisters, Aja Ibañez and Aljhecia Alolor; and his brothers, Eugene 
                and Carmelo Ibañez. AJ was dedicated father and husband. As a talented 
                musician he spent his days playing guitar, finger drumming beats on his 
                MPC and producing music for himself and others. AJ recently completed 
                his Cybersecurity certification at City College, and as an aspiring 
                technologist had ambitions to explore the field of data science.
              </div>
            </div>


            <div class="viewing section">
              <div class="name-text">Viewing</div>
              <img src="https://www.duggans-serra.com/Content/Media/DuggansSerraMortuary/logomain2_14791990a54b4b6591603fff280e12fc.png" loading="lazy" class="duggans-logo">
              <div class="bold">Duggan's Serra Mortuary</div>
              <div>September 3 &amp; 4 (Labor Day)</div>
              <div>3pm - 4pm Private family viewing</div>
              <div>4pm - 8pm</div>
              <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12627.30610447579!2d-122.4697247!3d37.7002729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7c40184a350d%3A0xed4ae017fa729b43!2sDuggan&#39;s%20Serra%20Mortuary!5e0!3m2!1sen!2sus!4v1692489246004!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="cementary section">
              <div class="name-text">Funeral</div>
              <div class="bold">Church Service</div>
              <div>St. Emydius</div>
              <div>September 5</div>
              <div>Time: TBD</div>
              <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.8356897765734!2d-122.46459562354015!3d37.72353447199836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7dccf5d34f39%3A0x39ef72e4a1cb290f!2sSt.%20Emydius%20Church!5e0!3m2!1sen!2sus!4v1692489286144!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </br></br>
              <div class="bold">Burial</div>
              <div>Holy Cross</div>
              <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d12632.800108111842!2d-122.45621496421816!3d37.66800740076389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzfCsDQwJzA4LjMiTiAxMjLCsDI2JzQ3LjIiVw!5e0!3m2!1sen!2sus!4v1692489440666!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


            <div class="event">
              <div class="name-text">Reception</div>
              <div class="bold">Light Rail Studios</div>
              <div>
              <img src="https://www.lightrailstudios.com/uploads/5/3/0/7/53072125/published/1431982703.png?1582669147" loading="lazy" class="lr-logo">
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.99079522826!2d-122.40323782353934!3d37.74336017199333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7fab3704691b%3A0xcab813b0ee4264f0!2sLight%20Rail%20Studios!5e0!3m2!1sen!2sus!4v1692489527602!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>
          <div class="col-sm-4 col">
            <div class="donate section">
              <div class="name-text">Donate</div>
               <a href="https://www.gofundme.com/f/donate-towards-ajs-funeral-expenses" class="gofundme-button"><img src="assets/gofundme-button.png"></a>
              <div>All charitable donations will go towards funding 
              funeral costs with any remainder going towards providing for the care of
              AJ's daughter, Celine.</div>
            </div>
            <div class="contact section">
              <div class="name-text">Contact</div>
              <br>
              <div><span class="bold">email:</span> <a href="mailto:krisha723@gmail.com">krisha723@gmail.com</a></div>
              <div><span class="bold">address:</span> 329 Gonzalez Drive <br>
                San Francisco CA 94132
              </div>
          </div>
        </div>
      </div>
    </div>
  

</body>